.TimelineItem {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.TimelineItem:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.TimelineItemContent {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 800px;
    max-width: 70%;
    text-align: right;
}

.TimelineItemContent::after {
    content: ' ';
    background-color: gainsboro;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.TimelineItem:nth-child(odd) .TimelineItemContent {
    text-align: left;
    align-items: flex-start;
}

.TimelineItem:nth-child(odd) .TimelineItemContent::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.TimelineItemContent .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.TimelineItem:nth-child(odd) .TimelineItemContent .tag {
    left: auto;
    right: 5px;
}

.TimelineItemContent time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.TimelineItemContent p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: fit-content;
}

.TimelineItemContent a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.TimelineItemContent a::after {
    content: ' ►';
    font-size: 12px;
}

.TimelineItemContent .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.TimelineItem:nth-child(odd) .TimelineItemContent .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .TimelineItemContent {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .TimelineItemContent,
    .TimelineItem:nth-child(odd) .TimelineItemContent {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .TimelineItemContent .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .TimelineItemContent time {
        margin-top: 20px;
    }

    .TimelineItemContent a {
        text-decoration: underline;
    }

    .TimelineItemContent a::after {
        display: none;
    }
}
