.Network{
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.Network li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
.Network li a { color: #fff; }
.Network li a:hover { color: #11ABB0; }
