.Contact{
    height: 100vh;
    background-color: blue;
}

.Contact div{
    background-color: brown;

}

.Contact div p{
    background-color: white;
    display: inline-block;
    width: 35%;

}

.Contact div i{
    display: inline-block;
    margin-right: 10px;
}