.Contact{
    height: 100vh;
    background-color: slategrey;
}

.Contact div{
    background-color: slategrey;

}

.Contact div p{
    background-color: white;
    display: inline-block;
    width: 35%;

}

.Contact div i{
    display: inline-block;
    margin-right: 10px;
}

.ContactForm{
    margin: auto;
    width: 50%;
    background-color: white;
}

.ContactForm div {
    background-color: white;
}

.ContactForm p {
    padding: 10px 15px;
}


